.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #333333;
}

.MuiTabs-root {
  background-color: #333333;
}
.MuiTabs-root button {
  color: #b4f74c;
}
.MuiTabs-root button:active {
  color: #b4f74c;
}
.MuiTabs-root button {
  color: #6daf0a;
}
.MuiTabs-root button.Mui-selected {
  color: #b4f74c;
}
.PrivateTabIndicator-colorPrimary-8 {
  background-color: #b4f74c !important;
}

.MuiButton-containedPrimary {
  background: linear-gradient(45deg, #3f7e05, #b4f74c) !important;
  /* color: #0e1015 !important; */
}

.form_header_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form_name {
  border: none;
  outline: none;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #fff;
  width: 120px;
}

.form_header_icon {
  color: #fff;
  font-size: 20px;
}

.form_name:focus {
  border-bottom: 1px solid black;
}

.form_header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add_question_bottom_left .MuiButton-label {
  color: #3f7e05 !important;
}
.MuiFormControlLabel-root .MuiButton-label {
  color: #3f7e05 !important;
}
.dialog_footer_left{
  color: #3f7e05 !important;
}
.MuiButtonBase-root .MuiButton-label{
  /* background-color: #3f7e05 !important; */
  text-emphasis-color: #3f7e05;
  
}
/* .add_question_body input[type="radio"] {
  color: #3f7e05;
  background-color: #3f7e05;
} */
