.template_section {
  background-color: #0e1015;
  padding-top: 80px;
  padding-bottom: 40px;
}

.template_top {
  margin-left: 180px;
  margin-right: 180px;
}

.template_body {
  margin-left: 160px;
  margin-right: 180px;
}

.create-card {
  margin: 15px 20px;
  margin-top: 20px;
  transition: 0.3s all ease-in-out;
}
.card_image {
  box-sizing: border-box;
  height: 190px;
  border-radius: 8px;
  /* border: 0.5px solid #e5ffcc; */
  box-shadow: 1px 1px 6px #afff654f;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.card_image:hover {
  border: 3px solid #aeff62;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #c6ff91;
  margin-top: 15px;
}
